.row .columns a{
    text-decoration:none;
}
.toptext{
    padding: 15px;
}

.toptext p{
    margin-left:0px ;
}
img {
    padding: 8px;
}

.row {
    padding: 9px;
}

.nav {
    padding:-5px;
}






