* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(151, 176, 235);
}

.navbar li a {
    color: white;
}
.navbar-nav{
    margin-left:64rem;
}

.banner img {
    width: 100%;
    margin-top: -150px;
    
}

.bar {
    background-color: rgb(151, 176, 235);
    padding: 10px;
    position: relative;
    margin-top:-50px;
    height:70px;
}
.dropdown{
    display: none;
}



.search-bar{
    margin-top:-39px;
}
form{
    width:400px;
    margin-left: 750px;
    margin-top:45px;
}

.btn {
    background-color: pink;
}

.body-container {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    margin-left:300px;
}

.body-container ul {
    list-style: none;
}

.list {
    position: absolute;
    margin-right: 89rem;
    border: 0.1px solid black;
    border-radius: 30px;
    height: 290px;
    border-top-style: hidden;
    
}

.list li {
    padding: 10px;
}

.content {
    flex-grow: 1;
    background-color: rgb(151, 176, 235);
    border: 0.1px solid rgb(151, 176, 235);
    width: 250px;
    border-radius: 80px/50px;

}

.content h4 {
    color: white;
    margin-left: 40px;
}

.sidebar {
    flex-basis: 25%;
}

.sidebar a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.sidebar a:hover {
    cursor: pointer;
    color: rgb(151, 176, 235);
}



.sidebar i {
    padding-right: 20px;
}

.sidebar hr {
    margin-left: px;
    width: 200px;
}

.page-body {
    padding: 30px;
}
.container-body{
    display:inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
    padding:20px;
    margin-top: -20px;
}



.items{
    border:1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 30px;
}

.products-link{
    text-decoration: none;
    font-size: x-large;
    color:black;
}

.products-text{
    font-size: larger;
    color:  rgb(64, 114, 231);
}

hr {
    margin-bottom: -1px;
    width: 5px;
}


/* FOOTER */
.footer {
    background-color: rgb(151, 176, 235);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 30px;
}

.footer .row {
    margin-left: 30px;
}
.footer h5{
    margin-top: 20px;
}

.footer .column2 a {
    text-decoration: none;
    color: black;

}

.footer .icon {
    padding: 5px;
}
/* FOOTER */